.buckets_card {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bucket_link {
  width: fit-content;
  display: block;
}

.bucket_button {
  gap: var(--lg);
}