.buckets_card {
  width: 100%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bucket_card_body {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.bucket_link {
  display: flex;
}

.bucket_button {
  gap: var(--lg);
  flex-grow: 1;
}
