.image_body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 200px;
}

.image_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80vw;
  max-height: 80vh;
}

.image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
}

.nav_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.nav_button_left {
  left: var(--sm);
}

.nav_button_right {
  right: var(--sm);
}
